@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat&family=Roboto:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    padding: 5px;
}

a:hover {
    color: blue;
}

body {
    color: #ffffff;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.6em;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header{
    position: absolute;
    z-index: 4;
    /* height: 50px; */
    width: 100%;

}
.nav{
    top: 45px;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.header,
.nav {
    background-color: rgba(102, 101, 101, 0.709);

}

.flex {
    display: flex;
}

.header-item2 {
    width: 55%;
    justify-content: space-between;
}

.header-items ul li a {
    padding-inline: 10px;
}


.header-item1 {
    padding-block: 10px;
    padding-right: 30px;
    border-right: 1px solid rgb(172, 171, 171);
}

.header-item2,
.header-item3 {
    padding-block: 5px;
    padding-inline: 15px;
    border-right: 1px solid rgb(172, 171, 171);
}

.header-item4 {
    padding: 5px 12px;
    border-right: 1px solid rgb(172, 171, 171);
}

.header {
    border-bottom: 1px solid rgb(172, 171, 171);
}

.nav-item1 {
    padding: 24px 20px 10px 0;

}

.nav-item2 {
    a {
        padding: 30px 21px;
    }
a:hover{
    color:#89E1FC;
}
    li {
        padding: 0 5px;
    }
    i{
        margin-left: 10px;
    }
}
.item1 a,.item2 a{
    font-weight:700;
}

.nav-item3 {
    padding:19px 0px 15px 21px;
}

.btn {
    display: inline-block;
    padding: 12px 23px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid rgb(172, 171, 171);
    color: white;

    font-weight: 500;
    letter-spacing: 2px;
}

.btn:hover {
    color: white;
    background-color: #89E1FC;
}

.banner {
    position: relative;
    top: 0;
    background: url(./Assets/main-slider-img-1.jpg) no-repeat center/cover;
    height: 650px;
}

.banner-container {
    position: absolute;
    top: 45%;
    font-family: 'Montserrat', sans-serif;

    h1 {
        font-size: 68px;
        font-weight: bold;
    }

    h2 {
        font-weight: lighter;
        font-size: 44px;
    }
}

.btn-container {
    margin-top: 50px;

    .btn2 {
        margin-right: 10px;
        display: inline-block;
        padding: 12px 43px;
        border-radius: 5px;
        color: blue;
        font-weight: 900;
        background-color: white;
        font-size: 12px;
        letter-spacing: 1px;
        border: 1px solid rgb(172, 171, 171);
    }

    .btn2:hover,
    .btn3:hover {
        color: white;
        background-color: #2D95CA;
    }

    .btn3 {
        margin-right: 10px;
        display: inline-block;
        padding: 12px 43px;
        border-radius: 5px;
        font-size: 12px;
        letter-spacing: 1px;
        border: 1px solid rgb(172, 171, 171);
        color: white;
    }
}

.sche {
    position: relative;
    color: black;

    .schedule-container {
        position: absolute;
        top: -40px;
        width: 1200px;
        /* border-bottom: 7px solid #2a93c9; */
        background-color: white;
        h2,
        h3,
        p {
            margin-block: 20px;
        }
        h2{
            color: #2D95CA;
        }
        h3{
            font-size: 30px;
        }

        div {
            margin-block: 12px;
        }

        .fa-phone {
            color: #2D95CA;
            font-size: 35px;
        }


        .schedule {
            width: 33%;
            padding: 10px 30px;
        }

        .date-container {
            justify-content: space-between;
        }

        .blue {
            color: #2a93c9;
            font-size: 14px;
            font-weight: bold;
            font-family: "Lato", Sans-serif;
        }
        .days{
            font-family: "Lato", Sans-serif;
            font-weight: 700;
            font-size: 14px;
        }
    }
    .btn3{
        border: 1px solid #2a93c9;
        color: #2a93c9;
        padding: 10px 20px;
        border-radius: 5px;
        i{
            padding-right: 10px;
        }

    }
    .btn3:hover{
        color: white;
        background-color: #2D95CA;
    }
}
.header-item4{
    position: relative;
}
.search{
    position: absolute;
    top: 46px;
    right:0px;
    z-index: 100;
    display: none;
}
.search input{
    font-size: 20px;
     width: 600px;
     height: 50px;
     border: none;
     outline: none;
}
.services{
    display: none;
    z-index: 120;
    position: absolute;
    top: 85px;
}
.services-container{
    width: 1200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 25px;
}
.services-items{
    width: 20%;
    padding: 30px;
}
.one{
    border-bottom: 7px solid #89E1FC;
}
.two{
    border-bottom: 7px solid #2A93C9;
}
.three{
    border-bottom: 7px solid #1554dc;
}
.date-container{
    border-bottom: 1px solid rgb(177, 177, 177);
}
